# Mac filesystem dust
.DS_Store
.DS_Storetarget
/target


# Eclipse
/.classpath
/.project
/.settings
/bin


# Netbeans
/nbproject


# Linux
.gitignore~
.md~
.txt~
.yml~

# For some reason, linux adds
# the ~ character to the end
# of text files when you finish
# editing them. Add any more
# commonly used text files you
# want! By the way, all of these
# have popped up in this github
# folder =/
